<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspberry Pi4 Car</title>
    <link rel="icon" href="img/pi_logo.jpg" type="image/icon type" class="icon">
</head>
<body>
    <div id="shadowBox">
    <h1><a class="rainbow" target="_blank" href="https://www.raspberrypi.com/">Raspberry Pi Car control</a></h1>
    </div>

<form action='/' method="post">
<div id="button_back" class="scaleDown ">
    <input type="submit" name="submit_button" value="up" id="up" class="button">
    <input type="submit" name="submit_button" value="down" id="down" class="button">
    <input type="submit" name="submit_button" value="left" id="left" class="button">
    <input type="submit" name="submit_button" value="right" id="right" class="button">
    <input type="submit" name="submit_button" value="stop" id="stop" class="button">
</div>

</form>

<script>
document.onkeydown = function(e) {
    switch (e.keyCode) {
        case 37:
            alert("left");
            chartLib.makeChart(left);
            break;
        case 38:
            alert("up")
            document.getElementById("up").submit();
            document.myForm.Name.value == "up";
            break;
        case 39:
            alert("right")
            document.getElementById("right").submit();
            document.myForm.Name.value == "right";
            break;
        case 40:
            alert("down")
            document.getElementById("down").submit();
            document.myForm.Name.value == "down";
            break;
        case 32: // use if the auto stop does not work
            alert("stop")
            document.getElementById("stop").submit();
            document.myForm.Name.value == "stop";
            brak;
    }
};
</script>
</body>
</html>