<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspberry Pi4 Car</title>
    <link rel="icon" href="img/pi_logo.jpg" type="image/icon type" class="icon">
</head>
<body>
    <div id="shadowBox">
    <h1><a class="rainbow" target="_blank" href="https://www.raspberrypi.com/">Raspberry Pi Car control</a></h1>
    </div>

<form action="/" method="GET">
<div id="button_back" class="scaleDown ">
    <input type="submit" name="submit_button" value="up" id="up" class="button">
    <input type="submit" name="submit_button" value="down" id="down" class="button">
    <input type="submit" name="submit_button" value="left" id="left" class="button">
    <input type="submit" name="submit_button" value="right" id="right" class="button">
</div>

</form>
</body>
</html>